*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

/* common */

.position-relative{
    position: relative;
}

.main-section{
padding-top: 40px 0;
}

[class^="col"] {
    min-height: 200px;
    border: 1px solid orange;
}

.container-large{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

    /* debug */
    border: 1px solid black;
    min-height: 300px;
}

.container{
    width: 70%;
    max-width: 1100px;
    margin: 0 auto;

    /* debug */
    border: 1px solid black;
    min-height: 300px;
}

.section-bg{
    background-color: lightblue;
}

.large-button{
    min-width: 70px;
    max-width: 80%;
    text-align: center;

}

.padding-large-button{
    padding: 5px 10px ;
}

.border-bottom-small{
    border-bottom: 1px solid black;
}

/* Columns */

.col-30{
    width: 30%;
}

.col-70{
    width: 70%;
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}



/* Margins&Paddings  */

.p-all-15{
    padding: 15px;
}

.pt-5{
    padding-top: 5px;
}

.pt-15{
    padding-top: 15px;
}

.pr-70perc{
    padding-right: 70%;
}

.pt-70{
    padding-top: 70px;
}

.pb-15{
    padding-bottom: 15px;
}

.pb-70{
    padding-bottom: 70px;
}

.pl-15{
    padding-left: 50px;
}

.ml-100{
    padding-left: 100px;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
} 

.justify-between{
    justify-content: space-between;
}

.mb-30{
    margin-bottom: 20px;
}

.mt-20{
    margin-top: 20px;
}

/* Colors */

.text-color-white{
    color: white;
}

.blue-button{

    /* debug */
    background-color: blue;
}

.padding-small-button{
    padding: 5px 10px ;

    /* debug */
    background-color: blue;
}




/* text */

.text-center{
    text-align: center;
}


/* header */
.main-header{
    height: 80px;
    line-height: 80px;

    /* debug */
    background-color: white;
}

.main-header div{
 display: flex;
 justify-content:  space-between;
}

.main-header div ul{
    display: flex;
    gap: 20px;
}

/* hero */

.container-large .flex{
    padding-top: 50px;
}

.container-large h1{
    font-size: 3.5rem;
    padding-right: 100px;
}

.flex .col-70 img{
    position: absolute;
    bottom: -50px;
    right: 20%;
    max-width: 100%;
    max-height: 100%;
}

.arrow-down{
    font-size: 3rem;
    font-weight: 700;
}

/* <!-- plans section  --> */

#plans-section{
    margin-top: 70px;
}

#plans-section h2{
    font-size: 2em;
}

.radio-button{
    display: inline-block;
    margin-right: 10px;
}



.card{
    display: flex;
    justify-content: space-between;

    /* debug */
    border: 1px solid green;
    min-height: 50px;
}

.squares{
    display: flex;
}

.square{
    width: calc(100% / 3);
    
    /* debug */
    border: 2px solid blue;
    min-height: 300px;
}



/* main */

/* footer */